body{
    width: 100%;
    margin: 1.5rem;
}
header{
   width: 100%;
   position: relative;
   margin-bottom: 2.5rem;
}
header nav{
   width: 100%;
   display: flex;
   justify-content: space-between;

}
menu {
    display: flex;
    list-style: none;
    /* border: thin solid black; */
    height: 100%;
    margin: 0;
}menu li {
    width: 7.5rem;
    font-size: .9rem;
    line-height: 60px;
}

menu>li>a {
    text-decoration: none;
    color: #6f6f6f;
    font-size: 14.5px;
    font-weight: 400;
}

header .beginning {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header .picture {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 4rem auto 0;
}