@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Lora:wght@400;500&family=Oswald:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;

}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

header {
  width: 85%;
  height: 4rem;
  margin: 0 auto;
}

header h1 {
  font-family: 'Oswald', sans empattement;
  font-size: 3rem;


}

header nav {
  font-family: 'Baloo 2', cursive;
  color: #111;
  display: flex;
  justify-content: space-between;

}

menu,
nav ul,
.socials {
  display: flex;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

menu {
  width: 400px;
}

nav>ul,
ul.socials {
  width: 200px;
  justify-content: center;
}
li{
 flex-grow: 1;
 line-height: 4rem;
 font-weight: 500;
 text-align: center;
}
aside{
width: 75% ;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
padding: 25px ;
}
.picture{
width: 55%;
margin: 0 auto 28px;
padding: 60px 12px 0;
}
